
.App {
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('./assets/background-tabs.png');
    /* background-image: url('./assets/background.png'); */
    /* background-color: #2e3035 */
}

i {
    cursor: pointer;
}

p {
    /* font-family: 'Roboto Mono', monospace; */
}

h1 {
    font-family: 'Roboto Mono', monospace;
    margin-top: 130px;
    margin-left: 30px;
    margin-bottom: -190px;
    font-size: 30px;
    font-weight: bold;
}

/* --- Login Page --- */

.login-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-div {
    width: 500px;
    height: 500px;
}

.login-form-wrapper {
    width: 100%;
    /* width: 500px; */
    height: 1000px;
    display: flex;
    justify-content: center;
    /* background-image: url('./assets/background-tabs.png'); */
    /* background-image: url('./assets/tab6.png'); */
    background-position: 50% 50%;
}

.login-form {
    width: 400px;
    height: 500px;
    margin-top: 120px;
    box-shadow: 10px 11px 28px 0px rgba(0,0,0,0.75);
    background-color: #ecf0f1;
    /* background-color: #ECF0F1; */
    padding: 20px;
    padding-top: 70px;
    z-index: 1;
}

.logo-tt {
    height: 100px;
    width: 150px;
    margin-left: 135px;
    background-image: url('./assets/logo-tt.png');
    background-repeat: no-repeat;
}

.login-input {
    height: 50px;
    margin-bottom: 5px;
    background-color: white;
}

.login-button-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.login-form p {
    cursor: pointer;
}

.login-button-wrapper p {
    margin-top: 10px;
    margin-right: 10px;
}

.login-button {
 background-color: #34495e;
}

.accent-quote {
    font-size: 100px;
}

.always-thursday {
    height: 100px;
    width: 490px;
    margin-top: -100px;
    margin-left: -12px;
    background-image: url('./assets/always-thursday.png');
    background-position: 50% 50%;
}

.sign-up {
    background-color: #29cdb5
}

.reg-btn {
 background-color: #373331
}

/* --- Lists --- */
/* --- Lists --- */
/* --- Lists --- */

.loader {
    margin-top: 300px;
}

.lists-wrapper {
    width: 100%;
}

.nav-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('./assets/purp-logo-tt.png');
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-color: #512e5e;
    box-shadow: -1px 6px 35px -1px rgba(0,0,0,0.75);
    padding-right: 10px;
    padding-left: 180px;
    color: white;
    font-size: 30px;
    z-index: 200;
}


.nav-bar i {
    margin-right: 10px;
    margin-left: 10px;
}

.plus {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdea2e;
    color: black;
}

.user {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f40968
}

.add-tab-header {
    text-align: center;
    background-color: #ecf0f1
}

.add-tab-btn {
    background-color: #512e5e
}

/* --- List --- */
/* --- List --- */
/* --- List --- */

.cat-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -100px;
    margin-bottom: -80px;
    padding-top: 200px;
    background-color: white;
}

.tabs {
    width: 350px;
    margin: 20px;
    box-shadow: 10px 11px 42px -1px rgba(0,0,0,0.75);
    transition: box-shadow 2s
}


/* .tabs:hover {
    box-shadow: 10px 11px 42px -1px rgba(99,8,107,0.75);
} */


.cap {
    display: flex;
    justify-content: space-between;
    /* background-image: url('./assets/sml-purp-logo-tt.png');
    background-repeat: no-repeat;
    background-position: 90% 50%; */
    background-color: #ecf0f1
    /* background-color: RGBA(0,0,1,0.08); */

}

.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: bold;
}

.tab-footer-one {
    background-image: url('./assets/tab-footer-one.png');
    height: 30px;
    width: 300px;
}

.tab-footer-two {
    background-image: url('./assets/tab-footer-two.png')
}

.tab-footer-three {
    background-image: url('./assets/tab-footer-three.png')
}

.fav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 100;
    /* box-shadow: 0px 14px 64px -1px rgba(0,0,0,0.75); */
}

  
.tabs p {
    margin-top: 10px;
}

.tab-five {
    width: 300px;
    height: 350px;
    background-image: url('./assets/tab5.png');
    background-position: 50% 50%;
}

/* --- Edit List --- */

.tab-icon-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #ecf0f1;
    padding: 20px;
}

.tab-icon-wrapper i {
    font-size: 30px;
    /* color: #34495e */
}

.edit-header {
    background-color: #ecf0f1
}

.edit-btn {
    background-color: #512e5e
}

/* --- Footer --- */

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: white;
    padding-top: 50px;
}










